@font-face {
    font-family: Mont;
    src: url(data/fonts/Montserrat-Regular.ttf);
}body {
    font-family: "Mont";
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    position: relative;
}

.logo {
    width: 150px;
}

.vertical-margin {
    background-color: #F8D7DA; /* Cor de fundo rosa */
    position: absolute;
    top: 0;
    bottom: 0;
    width: 290px; 
    height: 700px;
    left: 0;
}

.personArea {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 60px; /* Ajuste conforme necessário */
}

.iconArea {
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.iconArea img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text {
    margin-left: 20px;
    font-size: 0.8em;
    font-weight: bold;
}

.id {
    font-weight: bolder;
    font-family: "Mont-Bold";
}

#options {
    margin-left: 20px;
    cursor: pointer;
}

.home, .amigos, .estante, .turnBack {
    position: absolute;
    font-size: 0.9em;
    font-weight: bold;  
}

.home {
    top: 90px;
    left: 60px;
}

.amigos {
    top: 130px;
    left: 60px;
}

.estante {
    top: 170px;
    left: 60px;
}

.turnBack {
    top: 410px;
    left: 60px;
}

.home a, .amigos a, .estante a, .turnBack a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.home i, .amigos i, .estante i, .turnBack i {
    margin-right: 10px;
}

.criarClube {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.criarClube h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    width: 400px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group p {
    margin-bottom: 3px;
    color: #333;
    font-size: 0.8em;
    font-weight: bold;
}

.form-group input {
    width: 350px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ffccdf;
    box-sizing: border-box;
}

.botaodeCriarClube {
    background-color: #ff66b2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    align-items: center;
    margin-top: 30px;
}

.botaodeCriarClube:hover {
    background-color: #ff3385;
}
