@font-face {
    font-family: "Mont";
    src: url(data/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Mont-Bold";
    src: url(data/fonts/Montserrat-Bold.ttf);
}

body {
    font-family: "Mont";
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    position: relative;
}

.logo {
    width: 150px;
}

.vertical-margin {
    background-color: #F8D7DA; /* Cor de fundo rosa */
    position: absolute;
    top: 0;
    bottom: 0;
    width: 290px; 
    height: 700px;
    left: 0;
}

.personArea {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 60px; /* Ajuste conforme necessário */
}

.iconArea {
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.iconArea img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    margin-left: 20px;
    font-size: 0.8em;
    font-weight: bold;
}

.id {
    font-weight: bolder;
    font-family: "Mont-Bold";
}

#options {
    margin-left: 20px;
    cursor: pointer;
}

.rightArea {
    position: absolute;
    right: 60px;
}

.rightArea i, button {
    color: black;
    cursor: pointer;
    margin-right: 10px;
}

i {
    transition: scale 0.3s ease;
}

i:hover {
    scale: 1.1;
}

button {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: 2px black solid;
    background-color: transparent;
    border-radius: 7px;
    font-family: "Mont";
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.7em;
    transition: scale 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: black;
    color: white;
    scale: 1.05;
    font-weight: lighter;
}

#okButton {
    background-color: black;
    color: white;
    font-weight: lighter;
}

#okButton:hover {
    background-color: transparent;
    border: 2px black solid;
    color: black;
    font-weight: bold;
}

.amigos, .estante, .turnBack {
    position: absolute;
    font-size: 0.9em;
    font-weight: bold;  
}
.amigos {
    top: 130px;
    left: 60px;
}

.estante {
    top: 170px;
    left: 60px;
}

.turnBack {
    top: 410px;
    left: 60px;
}

.amigos a, .estante a, .turnBack a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.amigos i, .estante i, .turnBack i {
    margin-right: 10px;
}

.grid-section {
    margin-top: 30px;
    margin-left: 300px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1px));
    gap: 20px;
}

.grid-item {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: scale 0.3s ease;
}

.grid-item:hover {
    scale: 1.1;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.grid-item h3 {
    margin: 15px 0;
    font-size: 1.5em;
    color: #333;
}

.timer {
    font-size: 1.2em;
    color: #666;
    font-weight: bold;
}

.titleAll {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}
