
/*sidebar nova*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    display: flex;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}


header {
    display: flex;
    margin-left: 18rem;
    height: 90px;
    position: relative;

}


.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F2D4CA;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
}

.profile p {
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 18px;
}

.profile a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    flex-grow: 1; /* Faz com que o nav ocupe o espaço disponível */
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: block;
}

nav a:hover {
    background-color: #ddd;
}

nav a::after {
    content: '\2192';
    margin-left: 5px; /* Adicione o espaçamento entre o texto e a seta conforme necessário */
}

.logout {
    margin-top: auto; /* Empurra o botão "Sair" para o final da sidebar */
    display: flex; /* Ativa o layout flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding-bottom: 20px; /* Adiciona espaço abaixo do botão "Sair" */
}

.logout a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.logout a::after {
    content: '\2192';
    margin-left: 10px;
}

.grid-section {

        margin-top: 30px;
        margin-left: 300px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Alterado para auto-fill */
        gap: 20px;

}


.grid-item {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: scale 0.3s ease;

}

.grid-item:hover {
    scale: 1.1;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.grid-item h3 {
    margin: 15px 0;
    font-size: 1.5em;
    color: #333;
}

.timer {
    font-size: 1.2em;
    color: #666;
    font-weight: bold;
}

.titleAll {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}

#okButton {
    background-color: #F2D4CA;
    color:black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 35rem;
}

#okButton:hover {
    background-color: #ddd;
    border: 2px black solid;
    font-weight: bold;
}




.main h2{
    margin-top: 45px;
}