@font-face {
    font-family: "Bebas regular";
    src: url('data/fonts/BebasNeue-Regular.eot');
    src: url('data/fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('data/fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('data/fonts/BebasNeue-Regular.woff') format('woff'),
        url('data/fonts/BebasNeue-Regular.ttf') format('truetype'),
        url('data/fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

body {
    font-family: "Bebas regular";
    background-color: white;
    font-size: 24px;
}

.logoContainer {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.logo {
    width: 400px;
    height: auto;
}

.flatImage {
    position: absolute;
    right: 25%;
    max-width: 400px;
}
.remember {
    display: flex; /* Usando flexbox para alinhar os elementos na mesma linha */
    align-items: center; /* Alinhar os itens verticalmente */
    justify-content: center; /* Centralizando horizontalmente */
}

.checkbox-label {
    display: flex; /* Usando flexbox para alinhar os itens na mesma linha */
    align-items: center; /* Alinhar os itens verticalmente */
}

.checkbox-label input[type="checkbox"] {
    margin-right: 10px; /* Adicionando um espaçamento entre o checkbox e o texto */
}

.checkbox-label span {
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: #EFC9BD; /* Cor de fundo definida como #EFC9BD */
    border-radius: 20px;
    box-sizing: border-box;
    color: black; /* Cor do texto preto */
    border: none; /* Sem borda */
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

form {
    /*  max-width: 400px;
    margin-right: 20px; */
    /* Espaçamento entre o formulário e a imagem */
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    margin-top: 10%;
}

.form-group {
    margin-bottom: 10px;
}

label {

    margin-left: 10px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border-radius: 20px;
    box-sizing: border-box;

}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #EFC9BD;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
    font-family: "Bebas regular";
    font-size: 100%;
    font-weight: bold;
}

button:hover {
    background-color: #f7f6f6;
    border: 2px solid#EFC9BD;
}

.imagem1 {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .flatImage {
        position: relative;
        max-width: 300px;
        right: 0;
        left: 10%;
    }
}

.container {
    margin-top: 0%;
    padding: auto;
    display: flex;
    text-align: center;
    border: 1px ;
    margin: 5%;

}

.login {
    flex: 1;
    padding: auto;
   
    margin: 100px;
    text-align: center;
  
}

.imagem {
    flex: 1;
    background-color: #f0f0f0;
    text-align: center;
}

.imagem img {
    max-width: 100%;
    
}

.balao {
    background-color: #EFC9BD;
}

.tituloLogin {
    margin: auto;
    font-weight: bold;
    display: flex;
    text-align: center;
}

.centralizandoBotoes {
    display: flex;
}

